table{
    font-size: 1em;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-top: 3%;
}


thead tr{
    color: #047e29;
}


td, th, table{
    border: 1px solid #047e29;
}

td, th{
    min-width: 20px;
    padding: 1% 0%;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #c9ffd9;
}

tr:nth-child(even):hover {
    background-color: #014114;
}
tr:hover{
    cursor: pointer;
}
tbody tr:hover{
    background-color: #014114;
    color: #FFFFFF;
}

select, option{
border: .2em solid #047e29;
background: rgba(#047e29, .2);
border-radius: .4em .4em .4em .4em;
padding: .4em;
color: #047e29;
flex: 0 0 20%;
}

button:is(:hover,:focus,:active){
cursor: pointer;
background: #047e29;
color: #fff;
}

button {
    appearance: none;
    border: 0.2em solid #047e29;
    background: hsl(0 0 0/0);
    padding: 0.85em 1.5em;
    color: #047e29;
    border-radius: 2em;
    transition: 0.5s;
    margin: 1% 1%;
    flex: 0 0 8%;
}

.flexDiv{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

input[type="text"], input[type="number"] {
    appearance: none;
    border: none;
    outline: none;
    border-bottom: .2em solid #047e29;
    background: rgba(#047e29, .2);
    border-radius: .2em .2em 0 0;
    color: #047e29;
    width: 100px;
    flex: 0 0 10%;
    height: fit-content;
    margin: 1% 2%;
    width: fit-content;
}


input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    margin-right: 5px;
    font: inherit;
    color: #fff;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #047e29;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #047e29;
    background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
    box-shadow: inset 1em 1em #047e29;
}

input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}

.estiloCheckBox{
    flex: 0 0 6%;
    display: flex;
    min-width: fit-content;
}